networks:
  console:

services:
  console:
    image: ${CONSOLE_IMAGE}  
    ports:
      - "8087:8080"
    networks:
      - console
  
  console-ui:
    image: ${CONSOLE_UI_IMAGE}
    environment:
      CONSOLE_API_URL: http://console:8080
    ports:
      - "8088:8080"
    networks:
      - console
    depends_on:
      console:
        condition: service_started
