name: CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
      - "rekor-migration"
  workflow_dispatch:
  workflow_call:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - name: Use Node.js
        uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5 # v6
        with:
          node-version: 22
          cache: npm
      - name: Install dependencies
        run: npm ci --ignore-scripts
      - name: Build
        run: npm run build
      - name: Lint sources
        run: npm run lint
      - name: Check
        run: npm run format
